<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetBoot</key>
	<dict>
		<key>startTime</key>
		<string>2013-06-12 16:54:24 +0000</string>
	</dict>
	<key>Subnets</key>
	<array>
		<dict>
			<key>allocate</key>
			<true/>
			<key>dhcp_bootfile_name</key>
			<string>pxelinux/pxelinux.0</string>
			<key>dhcp_domain_name</key>
			<string>sbepschools.org</string>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>10.58.0.46</string>
				<string>10.58.0.44</string>
				<string>10.241.0.10</string>
			</array>
			<key>dhcp_domain_search</key>
			<array>
				<string>sbepschools.org</string>
			</array>
			<key>dhcp_router</key>
			<string>10.58.0.1</string>
			<key>lease_max</key>
			<integer>2592000</integer>
			<key>name</key>
			<string>Server DHCP Scope</string>
			<key>net_address</key>
			<string>10.58.0.0</string>
			<key>net_mask</key>
			<string>255.255.240.0</string>
			<key>net_range</key>
			<array>
				<string>10.58.0.2</string>
				<string>10.58.15.253</string>
			</array>
			<key>selected_port_name</key>
			<string>en0</string>
			<key>uuid</key>
			<string>EEA4DBB2-57D4-4FF4-A0F9-E6134BE305F9</string>
		</dict>
		<dict>
			<key>allocate</key>
			<true/>
			<key>dhcp_bootfile_name</key>
			<string>pxelinux/pxelinux.0</string>
			<key>dhcp_domain_name</key>
			<string>sbepschools.org</string>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>10.58.0.46</string>
				<string>10.58.0.44</string>
				<string>10.241.0.10</string>
			</array>
			<key>dhcp_domain_search</key>
			<array>
				<string>sbepschools.org</string>
			</array>
			<key>dhcp_router</key>
			<string>10.58.90.1</string>
			<key>lease_max</key>
			<integer>86400</integer>
			<key>name</key>
			<string>CentralOffice</string>
			<key>net_address</key>
			<string>10.58.90.0</string>
			<key>net_mask</key>
			<string>255.255.254.0</string>
			<key>net_range</key>
			<array>
				<string>10.58.90.10</string>
				<string>10.58.90.250</string>
			</array>
			<key>selected_port_name</key>
			<string>en0</string>
			<key>uuid</key>
			<string>F1BDBA33-89DE-41C2-A2E3-EA3C30A747B2</string>
		</dict>
		<dict>
			<key>allocate</key>
			<true/>
			<key>dhcp_bootfile_name</key>
			<string>pxelinux/pxelinux.0</string>
			<key>dhcp_domain_name</key>
			<string>sbepschools.org</string>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>10.58.0.46</string>
				<string>10.58.0.44</string>
				<string>10.241.0.10</string>
			</array>
			<key>dhcp_domain_search</key>
			<array>
				<string>sbepschools.org</string>
			</array>
			<key>dhcp_router</key>
			<string>10.58.24.1</string>
			<key>lease_max</key>
			<integer>604800</integer>
			<key>name</key>
			<string>StBernard</string>
			<key>net_address</key>
			<string>10.58.24.0</string>
			<key>net_mask</key>
			<string>255.255.248.0</string>
			<key>net_range</key>
			<array>
				<string>10.58.24.2</string>
				<string>10.58.28.254</string>
			</array>
			<key>selected_port_name</key>
			<string>en0</string>
			<key>uuid</key>
			<string>9560A6EF-9FA6-4A3D-87F3-83602035948E</string>
		</dict>
		<dict>
			<key>allocate</key>
			<true/>
			<key>dhcp_bootfile_name</key>
			<string>pxelinux/pxelinux.0</string>
			<key>dhcp_domain_name</key>
			<string>sbepschools.org</string>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>10.58.0.46</string>
				<string>10.58.0.44</string>
				<string>10.241.0.10</string>
			</array>
			<key>dhcp_domain_search</key>
			<array>
				<string>sbepschools.org</string>
			</array>
			<key>dhcp_router</key>
			<string>10.58.18.1</string>
			<key>lease_max</key>
			<integer>604800</integer>
			<key>name</key>
			<string>ElmwoodWired</string>
			<key>net_address</key>
			<string>10.58.18.0</string>
			<key>net_mask</key>
			<string>255.255.254.0</string>
			<key>net_range</key>
			<array>
				<string>10.58.18.2</string>
				<string>10.58.18.250</string>
			</array>
			<key>selected_port_name</key>
			<string>en0</string>
			<key>uuid</key>
			<string>BBE1AF7C-EA6B-47E3-A982-1F17A360F4DA</string>
		</dict>
		<dict>
			<key>allocate</key>
			<true/>
			<key>dhcp_bootfile_name</key>
			<string>pxelinux/pxelinux.0</string>
			<key>dhcp_domain_name</key>
			<string>sbepschools.org</string>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>10.58.0.46</string>
				<string>10.58.0.44</string>
				<string>10.241.0.10</string>
			</array>
			<key>dhcp_domain_search</key>
			<array>
				<string>sbepschools.org</string>
			</array>
			<key>dhcp_router</key>
			<string>10.58.40.1</string>
			<key>lease_max</key>
			<integer>86400</integer>
			<key>name</key>
			<string>ElmwoodWireless</string>
			<key>net_address</key>
			<string>10.58.40.0</string>
			<key>net_mask</key>
			<string>255.255.252.0</string>
			<key>net_range</key>
			<array>
				<string>10.58.40.10</string>
				<string>10.58.43.254</string>
			</array>
			<key>selected_port_name</key>
			<string>en0</string>
			<key>uuid</key>
			<string>EA98F347-4762-4710-ABE7-65DF967AE2E9</string>
		</dict>
		<dict>
			<key>allocate</key>
			<true/>
			<key>dhcp_bootfile_name</key>
			<string>pxelinux/pxelinux.0</string>
			<key>dhcp_domain_name</key>
			<string>sbepschools.org</string>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>10.58.0.46</string>
				<string>10.58.0.44</string>
				<string>10.241.0.10</string>
			</array>
			<key>dhcp_domain_search</key>
			<array>
				<string>sbepschools.org</string>
			</array>
			<key>dhcp_router</key>
			<string>10.58.38.1</string>
			<key>lease_max</key>
			<integer>604800</integer>
			<key>name</key>
			<string>JR/SR High Wired</string>
			<key>net_address</key>
			<string>10.58.38.0</string>
			<key>net_mask</key>
			<string>255.255.254.0</string>
			<key>net_range</key>
			<array>
				<string>10.58.38.10</string>
				<string>10.58.38.250</string>
			</array>
			<key>selected_port_name</key>
			<string>en0</string>
			<key>uuid</key>
			<string>30EA10B6-6366-4C14-B5A0-7B0617D67CF5</string>
		</dict>
		<dict>
			<key>allocate</key>
			<true/>
			<key>dhcp_bootfile_name</key>
			<string>pxelinux/pxelinux.0</string>
			<key>dhcp_domain_name</key>
			<string>sbepschools.org</string>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>10.58.0.46</string>
				<string>10.58.0.44</string>
				<string>10.241.0.10</string>
			</array>
			<key>dhcp_domain_search</key>
			<array>
				<string>sbepschools.org</string>
			</array>
			<key>dhcp_router</key>
			<string>10.58.32.1</string>
			<key>lease_max</key>
			<integer>3600</integer>
			<key>name</key>
			<string>JR/SR High Wireless</string>
			<key>net_address</key>
			<string>10.58.32.0</string>
			<key>net_mask</key>
			<string>255.255.252.0</string>
			<key>net_range</key>
			<array>
				<string>10.58.32.10</string>
				<string>10.58.35.254</string>
			</array>
			<key>selected_port_name</key>
			<string>en0</string>
			<key>uuid</key>
			<string>34BD116B-63E1-4CE3-BD72-8C7C5466A526</string>
		</dict>
		<dict>
			<key>allocate</key>
			<true/>
			<key>dhcp_bootfile_name</key>
			<string>pxelinux/pxelinux.0</string>
			<key>dhcp_domain_name</key>
			<string>hccanet.org</string>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>10.58.0.46</string>
				<string>10.58.0.44</string>
				<string>10.241.0.10</string>
			</array>
			<key>dhcp_domain_search</key>
			<array/>
			<key>dhcp_router</key>
			<string>10.58.100.1</string>
			<key>lease_max</key>
			<integer>3600</integer>
			<key>name</key>
			<string>GuestNet</string>
			<key>net_address</key>
			<string>10.58.100.0</string>
			<key>net_mask</key>
			<string>255.255.252.0</string>
			<key>net_range</key>
			<array>
				<string>10.58.100.100</string>
				<string>10.58.103.254</string>
			</array>
			<key>selected_port_name</key>
			<string>en0</string>
			<key>uuid</key>
			<string>141E87DF-F84D-4F7E-826B-D7DDD7D2ACFC</string>
		</dict>
		<dict>
			<key>allocate</key>
			<true/>
			<key>dhcp_bootfile_name</key>
			<string>pxelinux/pxelinux.0</string>
			<key>dhcp_domain_name</key>
			<string>sbepschools.org</string>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>10.58.0.46</string>
				<string>10.58.0.44</string>
			</array>
			<key>dhcp_domain_search</key>
			<array>
				<string>sbepschools.org</string>
			</array>
			<key>dhcp_router</key>
			<string>10.58.200.1</string>
			<key>lease_max</key>
			<integer>604800</integer>
			<key>name</key>
			<string>WintonMedNet</string>
			<key>net_address</key>
			<string>10.58.200.0</string>
			<key>net_mask</key>
			<string>255.255.255.0</string>
			<key>net_range</key>
			<array>
				<string>10.58.200.10</string>
				<string>10.58.200.254</string>
			</array>
			<key>selected_port_name</key>
			<string>en0</string>
			<key>uuid</key>
			<string>0BAFFF0C-8842-48CD-81E9-E7FE84FDB0AE</string>
		</dict>
	</array>
	<key>dhcp_enabled</key>
	<array>
		<string>en0</string>
	</array>
	<key>netboot_enabled</key>
	<array>
		<string>en0</string>
	</array>
	<key>reply_threshold_seconds</key>
	<integer>0</integer>
	<key>timeServiceStarted</key>
	<string>2014-03-03 21:03:07 +0000</string>
</dict>
</plist>
